.main {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 3rem repeat(10, minmax(min-content, 1fr)) 3rem;
    grid-template-rows: min-content 1fr min-content;
    grid-row-gap: 1.6rem;
    height: max-content;
}

.contact-photo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 23rem;
}

.contact-image {
    height: 100%;
    object-fit: cover;
}

.contact-details {
    grid-column: 3 / 12;
    grid-row: 1 / 2;
    margin-left: 3rem;
    position: relative;
    height: min-content;
    top: 11.5rem;
    transform: translateY(-50%);
}

.contact-form {
    grid-column: 3 / 12;
    grid-row: 2 / 3;
    font-size: 1.6rem;
    border-top: 0.1rem solid darkblue;
    padding-top: 3rem;
}

.contact-form label {
    display: inline-block;
    width: 12rem;
}

.contact-form input {
    border-radius: 1rem;
    font-size: 1.6rem;
    margin: 0.5rem 0;
    padding: 1rem;
    width: 30rem;
}

.contact-form input[type="checkbox"] {
    width: auto;
    margin-bottom: 1rem;
}

.contact-form input[type="number"] {
    width: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.contact-form input[type="radio"] {
    width: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.contact-form .checkbox-label {
    width: auto;
}

.contact-form input[type="color"] {
    border: none;
    height: 3.6rem;
    padding: 0;
    width: 30rem;
}

.contact-form input[type="submit"] {
    padding-left: 2rem;
    padding-right: 2rem;
    width: auto;
}

.contact-form textarea {
    /* border: none; */
    border-style: inset;
    border-width: 2px;
    border-radius: 1rem 1rem 0 1rem;
    padding: 1rem 1rem;
}

.message {
    margin-top: 1rem;
}

.message-label {
    vertical-align: top;
}